extends ../../layouts/layout.pug
include ../../components/create_tree.mixin.pug
block script
    script(src="/admin/js/product_categories/create.js") 
block main
    h1(class="w-full text-[20px] font-bold") Thêm danh mục sản phẩm
    button(class="ml-auto block " btn-submit) Thêm mới
    form(action="/admin/product_categories/create" method = 'post' class="flex flex-col gap-y-[10px]" new-categories) 
        input(type="text" placeholder = 'Tên danh mục...' name = 'name')
        input(type="text" placeholder = 'Mô tả danh mục...' name = 'description')
        select(name="parent_id" class="w-full")
            option(value='') ---Lựa chọn---
            +create_tree(tree_categories, null, 0)
        label(for='avatar') Ảnh đại diện
        input(id= 'avatar' type="file" accept = 'image/*' placeholder = 'Avatar...' name = 'avatar')