header
    div(class="container")
        div(class="flex justify-between items-center py-4")
            a(href="/") 
                h2(class="font-bold text-[20px]") Nhóm 11 - KTPM
            nav
                ul(class="flex space-x-4")
                    li
                        a(href="/") Trang chủ
                    li
                        a(href="/san-pham") Sản phẩm
                    li
                        a(href="/contact") Contact
            div(class="flex items-center space-x-4")
                a(href="/cart")
                    span Giỏ hàng
                - if(!INFOR_USER)
                    a(href="/tai-khoan/dang-nhap")
                        span Đăng nhập
                    a(href="/tai-khoan/dang-ky")
                        span Đăng ký
                - else
                    a(href="/tai-khoan/dang-nhap")
                        span #{INFOR_USER.fullname  || 'Tài khoản'}