extends ../../layouts/layout.pug
include ../../components/button.pug
include ../../components/page_header.pug

block script
    script(src="/admin/js/roles/create.js")

block main
    +page_header("Thêm nhóm quyền")
        +btn('Quay lại danh sách', "/admin/roles", 'default', 'arrow-counterclockwise')
        +btn('Thêm mới', null, 'primary', 'plus-circle', "/admin/roles")
    
    form(action="/admin/roles/create" method = 'post' class="flex flex-col gap-y-[10px]" new-role) 
        sl-input(size='small' required label = 'Tên vai trò' type="text" placeholder = 'Tên nhóm quyền...' name = 'name')
        sl-textarea(size='small' label = 'Mô tả' placeholder = 'Mô tả...' name = 'description')