extends ../../layouts/layout.pug
include ../../components/box-product.mixin.pug

block main
    div(class="") 
        div(class="container")
            h3(class="my-[20px] text-[20px] font-bold") Danh sách sản phẩm
            div(class="flex flex-wrap gap-4")
                +box-product(products)